django
Shopifyapi
python-dotenv
psycopg2-binary
aiohttp
pytz
django-timezone-field
djangorestframework
requests
whitenoise
gunicorn
django-cors-headers
djangorestframework-simplejwt
python-dateutil
pymongo
celery 
redis
boto3
django-storages
django-celery-beat
flower
django-celery-results
sendgrid
colorlog
python-dotenv
