{% extends "base.html" %}

{% block title %}FAQs - Sortaroo{% endblock %}

{% block content %}
<!-- component -->
{% comment %} <div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen"> {% endcomment %}
	<div class="flex flex-col items-center w-full  ">
		<h2 class="font-bold text-5xl mt-5 tracking-tight text-slate-900 sm:text-6xl">
			FAQ
		</h2>
		<p class="text-neutral-500 text-xl mt-3">
			Frequenty asked questions
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-[90%] mx-auto mt-8">
	{% for faq in faqs %}
	<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none text-slate-900">
					<span>  {{faq.question}} </span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
				</svg>
              </span>
				</summary>
				<p class="text-neutral-500 mt-3 group-open:animate-fadeIn">
				{{ faq.answer }}
					 
				</p>
			</details>
		</div>
	{% endfor %}
	
		
	</div>
{% comment %} </div> {% endcomment %}

<script>
	// ...
	// extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>
{% endblock %}

